*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-style: italic;
    
}
html,body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
.navbar{
    background: rgba(0, 0, 0, 0.082);
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1;
}
.logo{
    margin: 2px 0px;
    width: 4%;
    height: 100%;
    
}
.logo img{
    width: 100%;
    height: 100%;
}
.links{
    display: flex;
    gap: 10px;
    transition: all 0.2s ease-in-out;
}
.links a{
    text-decoration: none;
    color: white;
    border-radius: 8px;
    padding: 2px 4px;
    transition: all 0.2s ease-in-out;
    font-family: sans-serif;
    font-size: 20px;
}
.links a:hover{
    background: black;
    color: orangered;
}
/* navbar completed */


.home{
    width: 100vw;
    height: 100vh;
    background-image: url(vegetables.webp);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: cornsilk;
    position: relative;
}
.home button{
    background-color: red;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 2px 5px;
    position: absolute;
    bottom: 0;
    translate: 0px 10px;
    border: white 2px solid;
    font-size:large;
}
.services{
    display: flex;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
}
.services h1{
    font-size: 40px;
    margin-bottom: 40px;
}
.lists{
    display: flex;
    gap: 30px;
}
.list{
border: chartreuse 1px solid;
border-radius: 8px;
background: rgba(220, 220, 220, 0.219);
color: orangered;
padding: 30px;
width: 400px;
height: 430px;
display: flex;
align-items: center;
flex-direction: column;
gap: 20px;
}
.list img{
    width: 200px;
    height: 150px;
}
.list h2{
    font-size: xx-large;
}
.clients{
    height: 40vh;
    margin-top: 50px;
    background:url(bg1.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.clients h1{
    font-size: xx-large;
    margin-top: 20px;
    font-style: italic;
}
.images{
width: 100%;
height: 60%;
display: flex;
justify-content: center;
align-items: center;

}
.images img{
    height: 60%;
    filter: drop-shadow(3px 1px 4px black);
    margin-left: 20px;
}
.Contact{
    height: 60vh;
    background-image: url(bg_clients.png);
    background-size: cover;
    padding-top: 30px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.Contact h1{
    text-align: center;
    font-size: xx-large;
    color: black;
    margin-bottom: 40px;
    
}
.input{
    width: 400px;
    margin-bottom: 12px;
}
.input label{
    display: block;
    font-size: 20px;
}
.input input{
    width: 100%;
    padding: 6px;
    border-radius: 8px;
    font-size: 20px;
}
form button{
    width: 100%;
    padding: 12px;
    font-size: 20px;
    border-radius: 8px;
}
form button:hover{
    background: yellowgreen;
}
footer{
    background-color: black;
    text-align: center;
    color: orange;
    padding: 10px;
    font-style: normal;
    font-weight: bold;

}